<ion-header>
  <ion-toolbar>
    <ion-title>Add Supply</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <ion-item>
      <ion-label>Vehicle:</ion-label>
      <ion-input disabled="true" name="Vehicle" value="{{vehicle.plate}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-input type="date" #date value="{{supply.DateSupply}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>KM:</ion-label>
      <ion-input type="number" #KM value="{{supply.KM}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Quantity of Gas:</ion-label>
      <ion-input type="number" #quantity value="{{supply.Quantity}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Value:</ion-label>
      <ion-input type="number" #value value="{{supply.ValueSupply}}"></ion-input>
    </ion-item>
    <ion-button (click)="SaveSupply(this.date.value, this.KM.value, this.quantity.value ,this.value.value)">Add</ion-button>
  </form>
</ion-content>
